.App {
  text-align: center;
  border: tan solid 26px;
  border-top: #bda27e solid 26px;
  border-left: #b19876 solid 26px;
  border-bottom: #c9ad86 solid 26px;
  box-shadow: 0px 0px 6px 5px rgba(58, 18, 13, 0), 0px 0px 0px 2px #c2a782,
    0px 0px 0px 4px #a58e6f, 3px 4px 8px 5px rgba(0, 0, 0, 0.5);
  background-color: rgb(199, 193, 193);
}

.title {
  text-align: center;
  font-size: 80px;
  /* font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif; */
  font-family: Palatino, URW Palladio L, serif;
  text-decoration: underline;
}

.incomplete-card {
  background-color: rgb(235, 213, 17);
  margin-right: 50%;
  margin-left: 10%;
  max-width: 400px;
  text-align: center;
  padding: 20px;
  height: 400px;
  max-height: 400px;
  box-shadow: 20px 20px 20px #9e9d9d;
  margin-top: 40px;
}

.complete-card {
  background-color: rgb(48, 140, 45);
  padding: 20px;
  margin-top: 40px;
  margin-left: 60%;
  margin-right: 10%;
  max-width: 400px;
  text-align: center;
  height: 400px;
  max-height: 400px;
  box-shadow: 20px 20px 20px #9e9d9d;
}

.noteForm {
  margin-top: 40px;
  margin: 40px;
}

.formInputs {
  margin: 20px;
  border: 4px solid black;
  border-radius: 20px;
  width: 20%;
  font-size: larger;
  font-weight: bolder;
  height: 40px;
  text-align: center;
  background: white;
}

.search-bar {
  flex: 1 1 auto;
  margin: 0 1rem;
  display: flex;
  justify-content: center;
}

.search-bar input {
  width: 50%;
  font-size: 1.3rem;
  color: black;
  height: 3rem;
  margin-right: 0.5rem;
  /* border: 1px solid #ccc; */
  border: none;
  border-bottom: 4px solid #080808;
  border-radius: 3px;
  padding-left: 0.5rem;
  background: white;
  border-radius: 20px;
}

.searchy {
  padding: 0 0.25rem;
  background: transparent;
  /* border: 10px solid #ccc; */
  /* height: 5rem; */
  font-size: 30px;
  border: none;
  /* border-radius: 20px; */
}

.task-titles {
  display: flex;
  justify-content: space-between;
  padding-left: 15%;
  padding-right: 15%;
  border-bottom: 4px solid black;
}

.task-titles h1 {
  font-family: Palatino, URW Palladio L, serif;
  /* font-family: Chalkduster, fantasy; */
  font-size: 40px;
}

.task-container {
  margin-bottom: 10%;
  position: relative;
  margin: 7% auto;

  /* border-left: 6px solid green;
  height: 500px;
  position: absolute; */
}
.note-container {
}
